/* for tablets and ipads and smaller monitors */
*, *::before,*::after{
    box-sizing: border-box;
}
.planBanner
{
    
    height: 600px;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planBanner h1{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 5em;
    font-weight: 600;
    padding: 20px;
    color: rgb(253, 255, 110);
}

#lineSpan
{
    
    color: rgb(253, 255, 110);
    font-weight: 600;
    margin-right: 20px;
}

#lineSelect
{
    font-size: 1em;
    font-weight: 600;
    color: rgb(253, 255, 110);
    background: none;
    outline: none;
    border: none;
    border-bottom: solid yellow 2px;
}

#lineSelect > option
{
    background: black;
}

.tableHolder
{
    margin: 25px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceTable
{
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin: 1rem;
}

.priceCollumn
{
    background-color: rgb(248, 248, 186);
    box-shadow: 0 7px 30px rgba(0, 0, 0, 0.349);
    padding: 2.5rem;
    max-width: 500px;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 8px;
    transition: transform 1s;
}

.priceCollumn:hover{
    cursor: pointer;
    transform: scale(1.2);
    z-index: 25;
}
.pop
{
    background-color: rgb(253, 253, 0);
    z-index: 10;
    margin-top: -1.5rem;
    padding-top: 4rem;
    margin-bottom: -1.5rem;
    padding-bottom: 4rem;
}

.priceCollumn:first-child
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.priceCollumn:last-child
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.priceHeader
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.price
{
    display: flex;
    font-size: 3.5rem;
}

.dollarSign
{
    font-size: 1.4rem;
    margin-top: .5rem;
}

.perMonth
{
    font-size: 1rem;
    align-self: flex-end;
    margin-bottom: 1rem;
    text-transform: up;
}

.planName
{
    margin-top: 1rem;
    font-size: 1.2rem;
}

.divider
{
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
    margin-bottom: 0;
}

.features h1, .perks h1{
    font-size: 2rem;
    margin: 2rem 0 .5rem 0;
}


.feature
{
    margin: .4rem 0;
    font-size: 1.2rem;
    display: flex;
    
}

.fP
{
    margin-left: .5rem;
}

.spark
{
    margin: auto;
}
.sparkHeader
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.sparkBody
{
    background-color: whitesmoke;
    height: 600px;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8)),
      url("https://thumbs.gfycat.com/LateGrossFoxhound-size_restricted.gif");
    background-repeat: no-repeat;
    color: white;
    background-size: 100% 100%;
    border: solid black 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.sparkBody p{
    margin-top: -8rem;
    margin-bottom: -4rem;
}
.sparkBody h1{
    font-size: 5rem;
    font-weight: 600;
}

.sparkBody button{
    background: none;
    border: none;
    background-color: gold;
    outline: none;
    padding: 1.5rem 1rem;
    font-size: 3rem;
    transition: all ease 1s;
    transform: scale(1);
    cursor: pointer;
}

.sparkBody button:hover
{
    transform: scale(1.5)
}

@media (max-width: 1400px)
{

    
    .sparkBody{
        height: 700px;
    }
    .sparkBody h1{
        font-size: 3.5rem;
    }

    .sparkBody button{
        font-size: 1rem;
    }
}

/*Mobile view*/
@media (max-width: 1000px)
{
    .priceCollumn:hover{
        cursor: pointer;
        transform: scale(1);
        z-index: 0;
    }
    .priceTable
    {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .planBanner
    {
        height: 300px;
    }
    .planBanner h1
    {
        font-size: 2em;
    }

    .pop
{
    background-color: rgb(253, 253, 0);
    z-index: 10;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 0;
    border-radius: 0;
}

.priceCollumn{
    border-radius: 0;
    width: 100%;
}

.sparkBody
{
    height: 800px;
}

.sparkBody h1{
    font-size: 2rem;
}
    
.sparkBody button{
    font-size: 1rem;
}
}